<div class="dialog-popup">
    <div >
        <span><img src="assets/images/alertone.png" alt="" class="alert-icon"></span> <span class="header">Attention !</span>
      </div>
    <p>
        
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquid ipsum eligendi quas. Natus vitae
        recusandae voluptatibus ducimus sapiente eum obcaecati tempora voluptatum magnam quos repellat, quam porro
        corrupti odio corporis eos minima ipsam quis hic non. Id voluptatem, illo, reprehenderit, dolore culpa <br> 
        ‌د استناف محکمې یوه قاضي د پرېکړې د اورولو پرمهال وویل "دا ګواښ ريښتنی دی، چې ښايي‌ کډوال له روانډا نه بېرته
        خپلو
        هېوادونو ته واستول شي او هلته یې ژوند له خطر سره ممخ شي.‌ داسې حال
        <br>
        اما دولت‌ها به دلیل مشکلات زیادی که دارند از این صندوق به عنوان قلک استفاده کرده و هر وقت نیاز مالی داشته باشند
        با
        مجوزی از سوی آیت الله خامنه‌ای از صندوق برداشت می‌کنند.
</p>
<!-- this is used to bring the button to right side  -->
    <div class="parent-container">
        <button class="custom-btn" (click)="closeDialog()"> Continue...</button>
    </div>
</div>